input{
    margin-top: 30px;
}

.bacbuttons{
    border: solid black 2px;
    background-color: rgb(5, 25, 25);
    padding-bottom: 20px;
}
.backAuthentication{
    margin-left: 900px;
    margin-top: 10px;
}
.backLoginform{
    margin-top: 10px;
}
.RegisterForm{
    border: inset gray 10px;
    border-radius: 15px;
    margin-left: 430px;
    margin-top: 20px;
    padding-left: 100px;
    background-color: whitesmoke;
    padding-bottom: 20px;
}
.loginButton{
    margin-top: 30px;
    padding: 5px 74px;
    font-weight: 700;
}
.body{
    background-color: rgb(8, 37, 22);
    padding-bottom: 100px;
}