.header{
    border: outset gray 2px;
    background-color: rgb(3, 3, 59);
    padding-bottom: 30px;
}
.buttonForDashboard{
    margin-top: 20px;
}
.body{
    background-color: rgb(8, 22, 79);
    color: white;
    padding-bottom: 430px;
}