<div class="row">
    <div class="col-12 header">
        <button routerLink="/Dashboard" class="btn btn-primary">Go to Dashboard</button>
        <button routerLink="/LoginForm" class="btn btn-primary loginFormbackButton">Go to LoginForm</button>
    </div>
</div>
<div class="row">
    <div class="col-12 body">
        <p>authentication works!</p>
        <img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="Angular logo">
    </div>
</div>
<router-outlet></router-outlet>