.header{
    border: outset black 5px;
    padding-bottom: 30px;
    background-color: rgb(6, 2, 45);
}
.body{
    border: outset black 2px;
    padding-bottom: 80px;
    background-color: rgb(11, 9, 88);
    color: white;
}
.loginFormbackButton{
    margin-left: 950px;
}
img{
    margin-left: 400px;
}