.header{
    border: outset gray 5px;
    background-color: rgb(4, 25, 11);

}
.headerComponent{
    margin-left: 50px;
    margin-top: 20px;
}
.main{
    margin-left: 50px;
    margin-top: 20px;
}
.footer{
    margin-left: 50px;
    margin-top: 20px;
}
.authentication{
    margin-left: 280px;
    margin-top: 20px;
}
.body{
    border: solid gray 2px;
    padding-bottom: 56px;
    background-color: rgb(1, 15, 7);
    color: white;
    padding-bottom: 392px;
}
img{
   width: 100px;
}
h5{
    text-align: center;
}
p{
    font-weight: 700;
}