.header{
    border: solid black 5px;
    background-color: rgb(1, 21, 8);
    padding-bottom: 30px;
    color: white;
}
.usernameinfo{
    margin-left: 700px;
    margin-top: 20px;
}
.loginForm{
    border: outset gray 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-left: 430px;
    margin-top: 50px;
    padding-left: 100px;
}
.backAuthentication{
  margin-top: 20px;
}
input{
    margin-top: 30px;
}
.submit{
    margin-top: 30px;
}
.body{
    background-color: rgb(8, 37, 22);
    padding-bottom: 200px;
}
.success{
    color: green;
    font-weight: 700;
}
.error{
    color: red;
    font-weight: 700;
}